html, body{
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #666;
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 700;
  text-align: center;
}
.titleName{
  text-align: center;
}

h2 {
  line-height: 1.2;
  margin: 0;
  color: #444;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 34px;
  text-transform: uppercase;
}

p {
  font-size: 15.2px;
  font-weight: 700;
}
.intro-text{
  left: 12px;
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  background: url(../../assets/IMG/portada_sin_texto.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

p.intro {
  font-size: 16px;
  margin: 12px 0 0;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #222;
}

ul, ol {
  list-style: none;
}

.bot {
  bottom: 97px;
}

ul, ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background: rgb(107, 77, 168);
  /* Old browsers */
  background: linear-gradient(to right, rgba(107, 77, 168, 1) 0%, rgba(73, 119, 194, 1) 100%);
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}

/* Navbar */

.navbar{
  background-color:rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 9999;
}
.bg-light{
  background-color: transparent;
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-text {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:rgb(176, 101, 238);
}
.mr-auto, .mx-auto {
  margin-left: 515px;
} 
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.btn-default {
  border-radius: 0px;
  color: #822b81;
}

.btn-primary {
  background-color:rgb(87, 15, 146);
  border-radius: 0px;
  transition: 0.2s;
  border: 0px;
}

.btn-primary:hover, .btn-primary:active {
  background-color: rgb(140, 9, 247);;
}

/* seccion portada */

.intro .overlay {
  padding: 100px 0;
  background-color: rgb(176, 101, 238, 0.2);
  height: 100vh;
}

.section-title.center {
  padding: 25px 0 0px 0;
}

/* seccion sobre mi */

.mar-top {
  /* margin-top: 4%; */
}

#about {
  padding: 100px 0;
  background-image: url(../../assets/IMG/pag3.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#about .about-container{
  background-color: rgba(0, 0, 0, 0.8);
}
#about .about-text {
  margin-left: 10px;
}
#about h2{
  color:white;
}
#about h2:hover{
  color: rgb(176, 101, 238);
}
#about img {
  position: relative;
  top: 25px;
  float: right;
  /* border-radius: 50%; */
  width: 100%;
  height: 40vh;
}

#about p {
  color: #FEFEFE;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* seccion skills*/

#skills {
  background:url(../../assets/IMG/pagina1.jpg);
  /* Old browsers */
  background: linear-gradient(to right, black 0%);
  background-attachment: fixed;
}
#skills img{
  height: 25vh;
  margin: 30px;
}
#skills h2 {
  padding: 30px 0 0px 0;
  color: #fff;
}
#skilss p{
  text-align: center;
}
#skills hr {
  background: rgba(255, 255, 255, 0.3);
}
#skills i{
  margin: 30px;
  font-size: 100px;
}
#skills .container-icon{
  justify-content: center;
}

.white {
  color: white;
}
/* seccion proyectos*/

#proyectos {
  background:url(../../assets/IMG/pag4.jpg);
  background-size: cover;
  background-attachment: fixed;
      /* margin-left: 49px; */
      padding-left: 40px;
      /* padding-top: 10px; */
      padding-bottom: 40px;
}

#proyectos h2{
  padding: 30px 0 0px 0;
  color: white;
}
#proyectos h2:hover{
  color: rgb(176, 101, 238);
}
/* Contact Section */

#contact {
  color: #fff;
  background: url(../../assets/IMG/pag3.jpg) no-repeat center top;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

#contact .overlay {
  padding: 100px 0 40px 0;
  background: linear-gradient(to right, black 0%, rgba(176, 101, 238, 0.5) 100%);
}
#contact h5{
  text-align: center;
}
#contact h2 {
  color: #fff;
}

#contact hr {
  background: rgba(255, 255, 255, 0.3);
}

#contact i.fa {
  color: #121d1f;
  margin-bottom: 10px;
}

#contact .text-danger {
  color: #E87E04;
  text-align: left;
}

#contact .social, .social1 {
  margin-top: 80px;
}

#contact .social ul li, .social1 ul li {
  display: inline-block;
  margin: 0 20px;
}

.letter {
  color: #822b81;
}

.red {
  font-size: 30px;
  transition: all 0.5s;
}

.red:hover {
  color: black;
}

.mail {
  font-size: 12pt;
}

.thumbnail {
  background: #FEFEFE;
  border: 1px solid rgba(219, 223, 227, 0.303017);
  box-shadow: 0px 5px 12px rgba(217, 226, 233, 0.5);
}

.lines-menu {
  color: white;
}
/* Footer Section*/

#footer {
  background: black;
  color: #777;
  padding: 30px 0 25px 0;
}

#footer p {
  font-size: 13px;
}

#footer a {
  color: #aaa;
}

#footer a:hover {
  color: #526cbb;
}

/* proyectos figure*/

.snip1447 {
  font-family: 'Roboto', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
.snip1447 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1447 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1447 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.snip1447 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1447 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip1447 figcaption a:hover {
  opacity: 1;
}
.snip1447 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1447 .follow {
  margin-right: 6%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1447 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1447 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1447 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}
.snip1447:hover:before,
.snip1447.hover:before {
  bottom: 0;
  box-shadow: 0 0 0px white;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.titleProyectos{
  position: relative;
  padding-bottom: 5px;
  padding-top: 56px;
  text-align: center;
  color: white;
  left: 25px;
  font-family: 'Marck Script', cursive;
}

/* Media Queries */

@media (max-width: 768px){
  .mr-auto, .mx-auto {
    margin-left: 0;
  }
}
@media(min-width:768px) {
  .intro {
    height: 100%;
    padding: 0;
    color: #fff;
  }
  .intro H1 {
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .intro .intro-text p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  section {
    padding: 120px 0;
  }
  header .intro-text {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (max-width: 320px) {
  .redso {
    font-size: 9pt;
  }
}

@media (max-width: 1024px) {
  #about img {
    float: left;
    margin-bottom: 20px;
  }
}

